<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="assets/favicon.png" rel="shortcut icon"/>

<link href="assets/css/bootstrap.min.css" rel="stylesheet">

<link href="assets/css/bootstrap-icons.css" rel="stylesheet">

<link href="assets/css/all.min.css" rel="stylesheet">

<link href="assets/css/fontawesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

<link rel="stylesheet" href="assets/css/magnific-popup.css">

<link rel="stylesheet" href="assets/css/animate.min.css">

<link rel="stylesheet" href="assets/css/style.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<title>Phemo IT - Web | Application | Software and Digital Agency</title>
</head>
<body>
<!--
<div class="preloader">
<div class="loader">
<span></span>
<span></span>
<span></span>
<span></span>
</div>
</div>-->


<header class="header-area position_top">
<div class="site-logo">
<div class="logo">
<a href="index.php"><img src="assets/img/white-logo.png" alt="image"></a>
</div>
</div>
<div class="main-menu">
<nav class="main-nav">
<div class="mobile-menu-logo">
<a href="index.php"><img src="assets/img/black-logo.png" alt="" style="width: 175px;"></a>
<div class="remove">
<i class="bi bi-plus-lg"></i>
</div>
</div>
<ul>
<li class="has-child active">
<a href="index.php">Home</a>
<li><a href="about.php">About Us</a></li>
<li>
<a href="service.php">Service</a>
<i class="bi bi-chevron-down"></i>
<ul class="sub-menu">
<li><a href="service.php">Service</a></li>
<li><a href="service-details.php">Service Details</a></li>
</ul>
</li>
<li>
<a href="project.php">Project</a>
<i class="bi bi-chevron-down"></i>
<ul class="sub-menu">
<li><a href="project.php">Project</a></li>
<li><a href="project-details.php">Project Details</a></li>
</ul>
</li>
<li class="has-child">
<a href="blog.php">Blog</a>
<i class="bi bi-chevron-down"></i>
<ul class="sub-menu">
<li><a href="blog.php">Blog</a></li>
<li><a href="blog-standard.php">Blog standard</a></li>
<li><a href="blog-details.php">Blog Details</a></li>
</ul>
</li>
<li class="has-child">
<a href="#">Pages</a>
<i class="bi bi-chevron-down"></i>
<ul class="sub-menu">
<li><a href="team.php">Team</a></li>
<li><a href="pricing.php">Pricing</a></li>
 <li><a href="faq.php">FAQs</a></li>
</ul>
</li>
<li><a href="contact.php">Contact Us</a></li>
</ul>
<div class="get-qoute d-flex justify-content-center d-lg-none d-block pt-50">
<div class="cmn-btn">
<div class="line-1"></div>
<div class="line"></div>
<a href="contact.php">Get A Quote</a>
</div>
</div>
</nav>
</div>
<div class="nav-right">
<div class="get-qoute">
<div class="cmn-btn">
<div class="line-1"></div>
<div class="line"></div>
<a href="contact.php">Get A Quote</a>
</div>
</div>
<div class="mobile-menu">
<a href="javascript:void(0)" class="cross-btn">
<span class="cross-top"></span>
<span class="cross-middle"></span>
<span class="cross-bottom"></span>
</a>
</div>
</div>
</header>